numpy
torch==1.8
spacy
transformers==2.2.2
tqdm==4.38
scikit-learn
Flask
flask-cors
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz
gunicorn>=20.0.4
langdetect==1.0.9
