numpy==1.21
torch==1.8
spacy==3.1.0
transformers==2.2.2
tqdm==4.38
scikit-learn==0.24.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz

# web
Flask
flask-cors
gunicorn>=20.0.4
langdetect==1.0.9
